{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Notícias Astronômicas</h2>
    
    <div class="mt-4">
        <h4>📰 Página de Notícias e Atualizações</h4>
        <p>Fique informado sobre novas descobertas e eventos astronômicos!</p>
        
        <h5>📰 Notícias Recentes</h5>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Descoberta de um novo exoplaneta</a>
            <a href="#" class="list-group-item list-group-item-action">Eclipse solar total previsto para 2025</a>
            <a href="#" class="list-group-item list-group-item-action">Atualizações sobre a missão Mars Rover</a>
        </div>
    </div>
    
    <div class="mt-5">
        <h4>📱 Feed de Mídia Social</h4>
        <p>Acompanhe nossas contas oficiais para as últimas atualizações:</p>
        <ul>
            <li><a href="#">Twitter da NASA</a></li>
            <li><a href="#">Instagram de Astronomia</a></li>
        </ul>
    </div>
</div>
{% endblock %}
